
.pizza-item {
    display: flex;
    justify-content: center;
    padding: 0px 17px 65px 17px;
    @media (max-width: 1166px) {
        padding-bottom: 45px;
    }
    
    &__body {
        @media (max-width: $md4) {
            max-width: 320px;
            min-width: 280px;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &__img {
        padding: 0px 0px 11px 0px;
        margin: 0px 0px 0px 5px;
        width: 100%;
        height:  auto;
        object-fit: contain;    
    }

    &__title {
        flex: 1 1 auto;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0px 0px 22px 0px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #000000;
    }

    &__selector-block {
        
    }

}



.quantity {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FE5F1E;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    margin: 0px 0px 0px 8px;  
} 


.selector-block {
    width: 100%;

    &__selector {
        background: #F3F3F3;
        border-radius: 10px;
        padding: 7px 3.5px;
        margin: 0px 0px 11px 0px;

        ul{
            width: 100%;
            display: flex;
            padding: 0px 0px 7px 0px;

            &:last-child{
                padding: 0px;
            }
            
            &.big {
                li{
                    flex: 0 1 50%;
                    
                }
            }
            
            &.small {
                li{
                    flex: 0 1 33.33333%;
                }
                
            }

            li{
                margin: 0 3.5px;
                padding: 12px 0px;
                border-radius: 5px;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                letter-spacing: 0.015em;
                cursor: pointer;
                padding: 12px 0px 12px 0px; 

                @media (max-width: $md3) {
                    cursor: none;
                }
                
                &:hover{    
                    background: rgba(255, 255, 255, 0.5);
                }
                &.active {  
                    background: #FFFFFF;  
                }  

                &.disable{
                    opacity: 0.4;
                    pointer-events: none;
                }   
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__cost {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.015em;
        color: #000000;
        padding: 0px 5px 0px 0px;
    }

    &__btn-add{

        // flex: 1 0 auto;

    }


}